body {
   max-width: 800px;
   margin: auto;
   font-family: sans-serif;
   line-height: 1.4rem;
   color: #333
}

header {
   margin-bottom: 70px;
   margin-top: 20px;
}

header h1 {
   font-size: 3.1rem;
   border-bottom: solid 2px #999;
   width: max-content;
   padding-bottom: 20px;
}

h2 {
   display: inline;
}

.date {
   margin-left: 20px;
}

a {
   color: #333;
   text-decoration: none;
}

div.post {
   margin-bottom: 44px;
}