body {
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
  line-height: 1.6rem;
  color: #232323
}

header {
  margin-bottom: 50px;
  margin-top: 20px;
}

header h1 {
  text-decoration: underline aqua 5px;
}

#posts a, header a {
  color: black;
  text-decoration: none;
}

a {
	color: #00020a;
	text-decoration: underline 3px rgba(0, 219, 255, 0.85);
	text-decoration-skip-ink: none;
}

div.post {
  margin-bottom: 24px;
}

li{
	margin-bottom: 6px;
}
